In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import itertools
import os
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report , accuracy_score 
from sklearn import (metrics, linear_model, preprocessing)
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
print ('default',os.getcwd())

default /Users/flatironschool/Desktop/london-ds-111819/MY_Class_Edits/projects/Predicting_Life_Expectancy

In [5]:
pd.set_option('display.max_rows', 200)
pd.options.mode.chained_assignment = None

In [8]:
path = 'dataset/analytic_data2019.csv'
df=pd.read_csv(path, na_values='NA' , skiprows=1)
df

,statecode,countycode,fipscode,state,county,year,county_ranked,v001_rawvalue,v001_numerator,v001_denominator,...,v013_rawvalue,v016_rawvalue,v017_rawvalue,v025_rawvalue,v026_rawvalue,v027_rawvalue,v031_rawvalue,v032_rawvalue,v035_rawvalue,v097_rawvalue
0,0,0,0,US,United States,2019,NaN,6900.630354,3745538.0,908266078.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,1000,AL,Alabama,2019,NaN,9917.232898,80440.0,13636816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,1001,AL,Autauga County,2019,1.0,8824.057123,815.0,156132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,1003,AL,Baldwin County,2019,1.0,7224.632160,2827.0,576496.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,1005,AL,Barbour County,2019,1.0,9586.165037,451.0,72222.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,2019,1.0,7497.439952,495.0,127427.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,2019,1.0,3786.128226,124.0,66351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,2019,1.0,7790.302043,262.0,59466.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,2019,1.0,5504.650970,108.0,22335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,2019,1.0,4991.168273,82.0,19599.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <a id='7'>EDA<a/>

In [11]:
print('Cleaned Credit Card Default Data - rows:' , df.shape[0],'columns:', df.shape[1])

Cleaned Credit Card Default Data - rows: 3194 columns: 534

# Checking for Percentage of Null Values in the dataframe

In [12]:
total = df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
pd.concat([total, percent], axis=1, keys=['Total', 'Percent']).transpose()

# # Dropping columns with more than 50% of missing data and other unwanted columns
# try:
#     df_train.drop(labels = ['loan_id','customer_id','months_since_last_delinquent'] , axis =1 , inplace = True)
#     df_test.drop(labels = ['loan_id', 'customer_id', 'months_since_last_delinquent'], axis =1 , inplace = True)
    
# except Exception as x:
#     pass

,v139_denominator,v104_cihigh,v124_cilow,v124_cihigh,v137_numerator,v058_cihigh,v058_cilow,v147_numerator,v147_denominator,v144_numerator,...,v067_cihigh,v137_rawvalue,v137_denominator,v137_cilow,v137_cihigh,v057_rawvalue,v060_rawvalue,v060_numerator,v060_denominator,statecode
Total,3194.0,3194.0,3194.0,3194.0,3194.0,3194.0,3194.0,3194.0,3194.0,3194.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Check for Duplicates

In [13]:
def check_duplicates(df):
    if df.duplicated().sum():
        print("There were {} duplicates and they have been removed".format(df.duplicated().sum()))
         df.drop_duplicates(inplace=True)
    else:
        print("You are all clear of duplicates")

    return df

In [14]:
check_duplicates(df)

You are all clear of duplicates

,statecode,countycode,fipscode,state,county,year,county_ranked,v001_rawvalue,v001_numerator,v001_denominator,...,v013_rawvalue,v016_rawvalue,v017_rawvalue,v025_rawvalue,v026_rawvalue,v027_rawvalue,v031_rawvalue,v032_rawvalue,v035_rawvalue,v097_rawvalue
0,0,0,0,US,United States,2019,NaN,6900.630354,3745538.0,908266078.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,1000,AL,Alabama,2019,NaN,9917.232898,80440.0,13636816.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,1001,AL,Autauga County,2019,1.0,8824.057123,815.0,156132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,1003,AL,Baldwin County,2019,1.0,7224.632160,2827.0,576496.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,1005,AL,Barbour County,2019,1.0,9586.165037,451.0,72222.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,2019,1.0,7497.439952,495.0,127427.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,2019,1.0,3786.128226,124.0,66351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,2019,1.0,7790.302043,262.0,59466.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,2019,1.0,5504.650970,108.0,22335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,2019,1.0,4991.168273,82.0,19599.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.tail()

,statecode,countycode,fipscode,state,county,year,county_ranked,v001_rawvalue,v001_numerator,v001_denominator,...,v013_rawvalue,v016_rawvalue,v017_rawvalue,v025_rawvalue,v026_rawvalue,v027_rawvalue,v031_rawvalue,v032_rawvalue,v035_rawvalue,v097_rawvalue
3189,56,37,56037,WY,Sweetwater County,2019,1.0,7497.439952,495.0,127427.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,2019,1.0,3786.128226,124.0,66351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,2019,1.0,7790.302043,262.0,59466.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,2019,1.0,5504.650970,108.0,22335.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,2019,1.0,4991.168273,82.0,19599.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.columns

Index(['statecode', 'countycode', 'fipscode', 'state', 'county', 'year',
       'county_ranked', 'v001_rawvalue', 'v001_numerator', 'v001_denominator',
       ...
       'v013_rawvalue', 'v016_rawvalue', 'v017_rawvalue', 'v025_rawvalue',
       'v026_rawvalue', 'v027_rawvalue', 'v031_rawvalue', 'v032_rawvalue',
       'v035_rawvalue', 'v097_rawvalue'],
      dtype='object', length=534)

In [ ]:
# Cleaning Functions

# Only keeping county details ,setting the Primary length of life Health Outcome as our target and health factors as features

In [19]:
county_info = ['statecode','countycode','fipscode','state','county','year','county_ranked']
target_outcome = ['v001_rawvalue']
ranked_measures = ['v009_rawvalue','v011_rawvalue','v133_rawvalue',
                   'v070_rawvalue', 'v132_rawvalue', 'v049_rawvalue',
                   'v134_rawvalue', 'v045_rawvalue', 'v014_rawvalue',
                   'v085_rawvalue', 'v004_rawvalue', 'v088_rawvalue',
                   'v062_rawvalue', 'v005_rawvalue', 'v050_rawvalue',
                   'v155_rawvalue', 'v021_rawvalue', 'v069_rawvalue',
                   'v023_rawvalue', 'v024_rawvalue', 'v044_rawvalue',
                   'v082_rawvalue', 'v140_rawvalue', 'v043_rawvalue',
                   'v135_rawvalue', 'v125_rawvalue', 'v124_rawvalue',
                   'v136_rawvalue', 'v067_rawvalue', 'v137_rawvalue']

In [20]:
df_new = df[county_info + target_outcome + ranked_measures]

In [21]:
df_new.head()

,statecode,countycode,fipscode,state,county,year,county_ranked,v001_rawvalue,v009_rawvalue,v011_rawvalue,...,v044_rawvalue,v082_rawvalue,v140_rawvalue,v043_rawvalue,v135_rawvalue,v125_rawvalue,v124_rawvalue,v136_rawvalue,v067_rawvalue,v137_rawvalue
0,0,0,0,US,United States,2019,NaN,6900.630354,NaN,0.285,...,4.941486,0.332517,9.300353,386.464896,67.387264,NaN,NaN,0.183731,0.764422,0.352
1,1,0,1000,AL,Alabama,2019,NaN,9917.232898,0.215382,0.351,...,5.238579,0.381046,12.242716,479.919182,79.908979,11.0,0.074627,0.149122,0.858685,0.337
2,1,1,1001,AL,Autauga County,2019,1.0,8824.057123,0.191247,0.375,...,4.636664,0.247001,12.631731,272.282220,74.031808,11.7,0.000000,0.149546,0.859651,0.383
3,1,3,1003,AL,Baldwin County,2019,1.0,7224.632160,0.167955,0.310,...,4.518560,0.251841,10.692213,203.660396,69.374289,10.3,1.000000,0.138317,0.847194,0.405
4,1,5,1005,AL,Barbour County,2019,1.0,9586.165037,0.215409,0.443,...,5.755063,0.572157,8.472944,414.277861,72.900134,11.5,0.000000,0.154555,0.834044,0.338

In [23]:
print('Cleaned Credit Card Default Data - rows:' , df_new.shape[0],'columns:', df_new.shape[1])

Cleaned Credit Card Default Data - rows: 3194 columns: 38

In [25]:

def check_duplicates(df):
    if df.duplicated().sum():
        print("There were {} duplicates and they have been removed".format(df.duplicated().sum()))
        df.drop_duplicates(inplace=True)
    else:
        print("You are all clear of duplicates")

    return df

def create_column_dict(path):
    """
    Reads in the two rows of column names from the data set. 
    The first row is a descriptive column name 
    while the second row is simpler unique id.
    Creates a dictionary of the two sets of column names.
    Ignores the first 6 column names,
    which are descriptive in both rows.
    Simplifies the formatting and types of characters 
    within the descriptive column names.
    Returns the dictionary.
    """
    # read in the first two rows
    columns = pd.read_csv(path, nrows=1)
    # create the dictionary
    columns_dict = columns.iloc[0, 7:].to_dict()
    # swap the keys and values while also removing capitalizations
    columns_dict = dict([(value, key.lower())
                         for key, value in columns_dict.items()])
    # loop through the dictionary to make various string replacements
    str_replace_list = [(' - ', '_'),
                        (' ', '_'),
                        ('-', '_'),
                        ('/', '_'),
                        ('=', '_eqls_'),
                        ('(', ''),
                        (')', ''),
                        ('%', 'pct'),
                        ('+', 'plus'),
                        ('.', '')]
    for key, value in columns_dict.items():
        for replacement in str_replace_list:
            value = value.replace(replacement[0],
                                  replacement[1])
        columns_dict.update({key: value})

    return columns_dict

def count_null_df(df):
    """
    Generates a dataframe with one column listing 
    every column in the DataFrame parameter (df),
    and another column with the count of na's in the column.
    """
    na_dict = {}
    for col in df.columns:
        count_null = df[col].isna().sum()
        dict_null.update({col: na_count})
    count_null_df = pd.DataFrame.from_dict(data=dict_null, 
                                         orient='index',
                                         columns=['count_null'])
    count_null_df.reset_index(inplace=True)
    count_null_df.rename(columns={'index': 'column'},
                       inplace=True)
    return count_null_df